.m-n-p-center {
    width: calc(100% - 300px);
}

.m-n-p-center h4 a:hover {
    text-decoration: underline;
}

.m-n-p-right {
    width: 180px;
}

.remove-product {
    cursor: pointer;
}

.remove-product:hover {
    color: var(--color-primary);
}

.m-c-products-wrap .mini-cart-product+.mini-cart-product {
    margin-top: 15px;
}

.m-n-p-image,
.m-n-p-right {
    width: 100px;
}

@media (max-width: 767px) {

    .m-n-p-image {
        width: 80px;
        height: 80px;
    }

    .m-n-p-center p {
        font-size: 12px;
    }

    .m-n-p-right {
        width: 70px;
        font-size: 12px;
        padding-left: 5px;
    }

    .m-n-p-right del {
        display: none;
    }

    .m-n-p-center {
        width: calc(100% - 150px);
        padding: 10px;
    }

    .m-c-products-wrap .mini-cart-product+.mini-cart-product {
        margin-top: 8px;
    }

    .m-n-p-center h4 {
        font-size: 13px!important;
    }

    .m-n-p-center > div > span {
        font-size: 11px;
        display: block;
        margin-top: 4px;
    }
}